# Ignore Python cache files
__pycache__/
*.py[cod]
pretrained_models/emotion_recognition/
wav2vec2_checkpoints/
*.so*
runs/
.vscode/
*.wav
# To be changed when final checkpoints are chosen
*.pth
*.onnx
